@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@600&family=Roboto:wght@300;400&display=swap");

:root {
  --orange: #ffa500;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
::selection {
  background: var(--orange);
  color: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}
.row{
  display: flex;
}
/* --------------------Làm chữ giới thiệu---------------- */
.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background-color: rgba(255, 165, 0, 0.2);
  color: var(--orange);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span.space {
  background: none;
}
/* --------------------Làm chữ Book Now---------------- */
.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: rgba(255, 165, 0, 0.2);
  color: var(--orange);
}

/* -------------------header section start---------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

header .logo span {
  color: var(--orange);
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0.8rem;
}

header .navbar a:hover {
  color: var(--orange);
}

header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover {
  color: var(--orange);
}

header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}

header .search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover {
  color: var(--orange);
}
/* -----------------------header section end--------------------- */

/* -----------------------login form start------------------------ */
.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.active {
  top: 0;
}

.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 50rem;
}

.login-form-container form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1 rem 0;
}

.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.login-form-container form .box:focus {
  border-color: var(--orange);
}

.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 1.5rem;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
}

.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.login-form-container form p a {
  color: var(--orange);
}

.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}

#menu-bar {
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 5rem 1.2rem;
  cursor: pointer;
  display: none;
}

/* --------------------- Home section start-------------------------- */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content {
  text-align: left;
}

.home .content h3 {
  max-width: 40%;
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  max-width: 50%;
  font-size: 2.5rem;
  color: #fff;
  padding: 0.5rem 0;
}

.home .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home .controls {
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10rem;
}

.home .controls .img-btn {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0.5rem;
}

.home .controls .img-btn.active {
  background: var(--orange);
}
/* --------- Home section end ------------*/

/* --------- Book section start ----------- */
.book{
  position: relative;
  transform: translateY(-100px);
}

.book-content-items{
  justify-content: space-between;
  background-color: rgba(221, 221, 221, 0.5);
  padding: 12px;
  border-radius: 5px;
}
.book-content-item{
  height: 50px;
  background-color: #fff;
  width: 19%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
}
.book-content-item input{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 36px;
  border-radius: 5px;
}
.book-content-item i{
  position: absolute;
  color:#11142D ;
  margin-right: 12px;
  left: 12px;
  z-index: 1;
  font-size:14px;
}
.book-content-item:last-child{
  width: 130px;
}
.book-content-item:last-child button{
  height: 100%;
  width: 100%;
  color: #fff;
  background-color:#11142D  ;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.book-content-item:last-child button:hover{
  background-color:#161b52  ;
}
/* --------- Book section end ----------- */

/* --------- Package section start ----------- */

.package{
  position: relative;
  left: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.package-content-items{
  width: 30%;
  height: 100%;
  margin-right: 40px;
  margin-bottom: 32px;
}
.package-content-item{
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--light-separators-colors-secondary, #E1E1E1);

}
.package-describe-item h4{
  color:  #11142D;
  font-size: 24px;
  font-family: Lora;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.12px;
  margin-left: 16px;
  margin-bottom: 24px;
}
.packages-describe span{
  color:  #9A9AB0;
  font-size: 16px;
  font-family: Mulish;
  line-height: 125%;
  letter-spacing: 0.08px;
}
.packages-describe i{
  font-size: 20px;
  margin-left: 16px;
}
.packages-describe span{
  /* margin-left: px; */
  margin-top: 8px;
}
.package-describe-item{
  width: 100%;
}
.packages-describe {
  margin-bottom:40px ;
}
.package-content-item img{
  width: 100%;
  height: 310px;
  object-fit: cover;
}
.packages-describe{
  display: flex;
  width: 100%;
}
.package-describe-bot{
  display: flex;
  
}
.package-describe-item button{
  width: 110px;
  height: 56px;
  border-radius: 8px;
  background: #C7923E;
  color: #FFF;
  font-size: 14px;
  font-weight: 600; 
  margin-left: 16px;
  margin-right: 140px;
  margin-bottom: 32px;
}
.package-describe-item button:hover{
  background-color: #e9ba70;
}
.package-describe-bot p{
  color:  #515151;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.112px;
  display: block;
}
.package-describe-item sup{
  color:  #27343F;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.12px;
}
.package-describe-item span{
  position: relative;
  left: 4px;
  color:  #9A9AB0;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.096px;
}
/* --------- Package section end ----------- */

/*-------------------------Footer section start--------------------  */

.footer {
  background: #333;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 0.7rem 0;
  color: #fff;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  color: var(--orange);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer .credit span {
  color: var(--orange);
}
/*-------------------------Footer section end--------------------  */

/*-------------------------Filter section start--------------------  */




.filter-container {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -60px;
}

.filter-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  margin-left:10px;
}


.filter-container select {
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 150px;
  margin-left:10px;
}

.filter-container button {
  padding: 8px 12px;
  background-color: #11142D;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin-left:10px;
  width: 130px;
  height: 50px;
}

.filter-container button:hover {
  background-color: #181d4c;
}

#result {
  margin-top: 20px;
}

#result p {
  margin: 5px;
}


/*-------------------------Filter section end--------------------  */

/* ------------------------ Pagination section start-------------------- */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination button, .pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
}

.pagination button:hover, .pagination a:hover {
  background-color: #ccc;
}

.pagination .active {
  background-color: #333;
  color: #fff;
}

.pagination .prev-btn[disabled], .pagination .next-btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

/* ------------------------ Pagination section end-------------------- */

/* ----------------------- Profile --------------------------------- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
}

h1 {
  text-align: center;

}

.profile {
  display: flex;
  align-items: flex-start;
}

.profile-image {
  position: relative;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  right: 100px;
}

.profile-image input[type="file"] {
  display: none;
}

.profile-image .edit-profile-image-btn {
  height: 30px;
  position: absolute;
  top: 230px;
  right: 43px;
  padding: 8px 10px;
  background-color: #11142D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.profile-image .edit-profile-image-btn:hover {
  opacity: 1;
}

.profile-details {
  flex: 1;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  height: 30px;
  width: 100%;
  /* padding: 8px;
  border: 1px solid #ccc; */
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  display: block;
  /* width: 150px; */
  /* padding: 10px; */
  background-color: #11142D;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color: #fff;
  border: none;
  border-radius: 4px;
}
button[type="submit"]:hover{
  background-color: #040617;
  cursor: pointer;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.order-history {
  max-width: 300px;
  flex: 1;
  position: relative;
  left: 100px;
  bottom: 20px;
}

.order-history h2 {
  margin-bottom: 10px;
}

.order-history ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.order-history li {
  margin-bottom: 10px;
}

.order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.order-date {
  font-weight: bold;
}

.order-items {
  flex: 1;
  margin-left: 10px;
}

.order-total {
  font-weight: bold;
}


/* Responsive layout */
@media screen and (max-width: 600px) {
  .container {
      width: 90%;
  }

  .profile {
      flex-direction: column;
  }

  .profile-image {
      margin-bottom: 20px;
      text-align: center;
      margin-right: 0;
  }

  .profile-details {
      margin-top: 20px;
  }
}





/* media queries */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .profile-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    right: 0px;
  }
  .profile-details{
    max-width: 450px;
    margin-left: 50px;
  }
  .order-history{
   position: relative;
   right: 50px;
   max-width: 400px;
   height: 300px;
  }
  .package-content-items  {
    width: 29%;
    height: 100%;
    margin-right: 40px;
    margin-bottom: 32px;
  }
  .package-content-item{
    width: 105%;
  }
  
  .package-describe-item h4, .package-describe-item i {
    font-size: 20px;
  }
  .packages-describe span{
    font-size: 10px;
    min-width: 50px;
    margin-left: 5px;
  }
  .package-describe-bot button{
    width: 110px;
    height: 55px;
    text-align: center;
    font-size: 95%;
  }
  .package-describe-bot p{
    position: relative;
    right: 50px;
    min-width: 82px;
  }
  
  
}
@media (max-width: 991px) {
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .package-describe-bot button{
    width: 80px;
    height: 55px;
    text-align: center;
    font-size: 95%;
  }
  .profile-details{
    max-width: 350px;
    margin-left: 30px;
  }
  .order-history{
    position: relative;
    right: 50px;
    max-width: 200px;
   }
}
@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }
  .container{
   margin-top:200px;
  }
  .package-content-items  {
    width: 27%;
    height: 100%;
    margin-right: 40px;
    margin-bottom: 32px;
  }
  .package-describe-item h4, .package-describe-item i {
    font-size: 14px;
  }
  .profile-details{
    max-width: 250px;
    margin-left: 30px;
  }

  .order-history{
    position: relative;
    /* right: 100px; */
    max-width: 200px;
   }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }
  .packages-describe span{
    font-size: 10px;
    min-width: 50px;
    /* margin-left: 2px; */
  }
  .packages-describe span {
    margin-top: 0px;
    margin-bottom: 8px;
  }
  .packages-describe {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .package-describe-bot p{
    position: relative;
    right: 115px;
    min-width: 82px;
  }
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading span {
    font-size: 2.5rem;
  }
}
}